.sns-wrap {
    align-items: center; /* 세로 중앙 정렬 */
    width: 70%;
    margin: auto; 
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex; /* Added to enable flex layout for year-nav beside image-wrap */
}

.image-wrap {
    display: flex; /* Flexbox 레이아웃 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    gap: 10px; /* ✅ 아이콘 간격 깔끔하게 조정 */
    flex-wrap: wrap; /* 아이콘 줄바꿈 */
    max-width: 400px;
}

.image-wrap img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.year-nav {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: white;
}

.year-nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.year-nav a:hover {
    color: #fabc11 !important;
    font-weight: bold;
}


/* 모바일 스타일 */
@media (max-width: 768px) {
    .sns-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .sns-icon {
        margin-left: 0; /* 아이콘 간 간격 제거 */
        margin-bottom: 10px; /* 아이콘 아래 간격 */
    }

    .bottom-info {
        margin-left: 0; /* 왼쪽 간격 제거 */
        margin-top: 10px; /* SNS 아이콘과의 간격 */
    }
    
    .image-wrap img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
    .hero-title{
        /* font-size: 1.3rem !important; */
        text-align: center;
    }
    .hero-subscript{
        /* font-size: 1rem !important; */
        text-align: center;
        font-size: 1rem !important;
        color: rgb(215, 215, 215);
    }
}