/* 슬라이더 이미지 */
.project-main-img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}
.project-main-img.loaded {
  opacity: 1;
}
.ppm-carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}

.ppm-image-container {
  width: 80%;
  /*max-width: 700px;*/
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 10px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ppm-image-container img {
  width: 100%;
  object-fit: contain;
  transition: opacity 0.4s ease;
}

.ppm-btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.ppm-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*그 외 이미지*/

.auto-slider {
  max-width: 1200px;
  margin: 30px auto;
  text-align: center;
}

.auto-slider img {
  /* height: 400px;        원하는 높이로 고정 */
  object-fit: cover;    /* 비율 유지하며 꽉 채움 (잘릴 수 있음) */
  width: 100%;          /* 부모 너비에 맞게 */
  display: block;
}

/* 디자이너 이미지 */

.team-members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 40px auto;
  max-width: 1000px;
}

.member-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.member-img {
  width: 180px;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #555;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.member-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  margin-top: 10px;
  text-align: center;
}

/* 비디오 */
.project-video-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 비율 */
  height: 0;
  overflow: hidden;
  margin: 40px auto;
  max-width: 1140px;
}

.project-video-wrap iframe.project-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.content-box h1 {
  margin-bottom: 5%;
}

/* 슬라이더 이미지 내 텍스트 삽입용 */

.auto-slider {
  position: relative;
  width: fit-content;
}


.auto-slide-img {
  width: 100%;
  display: block;
}

.img-wrapper {
  position: relative;
}

.overlay-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 4px;
  display: none; /* 초기 숨김 */
}
.footer-copyright{
  margin-bottom: 50px;
}