<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>프로젝트 상세</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/postView.css">
  <link rel="stylesheet" href="/css/all_header.css">
</head>
<body>

  <div id="header-md"></div>
  <div class="project-visual-section">
    <img class="project-main-img" src="" alt="프로젝트 대표 이미지">
  </div>

  <div class="project-info-section">
    <h1 class="project-title"></h1>
    <p class="project-client"></p>
    <p class="project-description"></p>
  </div>

  <div class="project-section-image">
    <div class="blur-background"></div>
    <img src="" alt="RocknRoll Poster">
  </div>

  <div class="project-section-description">
    <p class="project-section-text">
    </p>
  </div>
<footer class="project-footer">
  <div class="footer-divider"></div>
  <div class="project-footer-author">
    <img class="footer-author-img" src="" alt="">
    <p class="footer-author-name"></p>
  </div>
  <div class="footer-divider"></div>
  <div class="footer-icons">
    <span class="footer-icon">&lt;</span>
    <span class="footer-icon">≡</span>
    <span class="footer-icon">&gt;</span>
  </div>
  <div class="footer-copyright">
    © 2023. DESIGNTHEHAM Co. all rights reserved.
  </div>
</footer>
<script type="module" src="/js/post.js"></script>
<script type="module" src="/module/header.html"></script>
<script src="/js/all_year.js"></script>
</body>
</html>