<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>팀 프로젝트 상세</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- post랑 디자인 통일해서 해야하나? all_view.css? -->
  <link rel="stylesheet" href="../css/postView.css">

  <link rel="stylesheet" href="../css/all_header.css">
  <link rel="stylesheet" href="../css/teamView.css">

    <style>

    </style>

</head>
<body>
  <script>
    // ✅ 공통 header 삽입
    fetch("../module/header.html")
      .then(res => res.text())
      .then(data => {
        document.getElementById("header-md").innerHTML = data;
      });
  </script>

  <div id="header-md"></div>

  <div class="project-visual-section">
    <img class="project-main-img" src="" alt="팀 대표 이미지">
  </div>

  <div class="project-info-section">
    <h3 class="project-title"></h3>
    
        <p style="font-size: 15px;" class="project-client"></p>
        <p style="font-size: 15px;" class="project-team-names"></p>

        <div class="project-section-text" style="font-size: 14px; line-height: 1.6;"></div>
  </div>

  <footer class="project-footer">

   <div class="footer-divider"></div>
    <h1  style="font-size: 130%;" class="project-description"></h1>
    </div>
    
    
    <div class="footer-divider"></div>
    
    
    <!-- 영상 재생부문 -->
    <div class="content-box">
        <div class="project-video-wrap">
        <iframe
            class="project-video"
            src=""
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen>
        </iframe>
        </div>
        <p class="v-text"></p>
    </div>  


    <div class="content-box">
        <h1>Storyboard</h1>
        <div class="auto-slider" id="storyBord-slider">
        <img class="auto-slide-img" src="" alt="스토리보드 이미지">
         <p class="s-text"></p>
    </div>

    <div>
        <h1>Memorise</h1>
      <div class="auto-slider" id="memoRise-slider">
        <div class="img-wrapper">
          <img class="auto-slide-img" src="" alt="메모라이즈 이미지">
          <div class="overlay-text"></div>
        </div>
      </div>
    </div>
            <p class="m-text"></p>
    </div>

    <div class="content-box">
        <h1>Team PPM Note</h1>

        <div class="ppm-carousel">
        <button class="ppm-btn prev">❮</button>
        <div class="ppm-image-container">
            <img class="ppm-image" src="" alt="PPM 이미지">
        </div>
        <button class="ppm-btn next">❯</button>
        </div>
        <p class="ppt-text"></p>
    </div>

    <div class="content-box">
        <h1>Designers</h1>
        <div id="team-members-wrap" class="team-members-container"></div>
    </div>


    <div class="footer-icons">
      <span class="footer-icon">&lt;</span>
      <span class="footer-icon">≡</span>
      <span class="footer-icon">&gt;</span>
    </div>
    <div class="footer-copyright">
      © 2023. DESIGNTHEHAM Co. all rights reserved.
    </div>
  </footer>

  <script type="module" src="../js/team.js"></script>
</body>
</html>
