
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/all_headerText.js"></script>
  <title>한국영상대학교 영상디자인과 졸업전시</title>
  <link rel="stylesheet" href="/css/designer.css" />
  <link rel="stylesheet" href="/css/all_header.css" />
</head>
<body>
  <script>
    // 공통 header 삽입
    fetch("/module/header.html")
      .then(res => res.text())
      .then(data => {
        document.getElementById("header-md").innerHTML = data;
      });
  </script>
  <div id="header-md"></div>
  <div class="container">
    <h1>디자이너 목록</h1>
    <div id="designerGrid" class="grid-container"></div>
  </div>
</body>
<script type="module" src="/js/desinger_list.js"></script>
<script>
function goTo(page) {
  const year = localStorage.getItem("selectedYear");
    if (!year) {
        alert(" 선택해주세요!");
        return;
    }
    window.location.href = page;
    }
</script>
</html>